---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);


const services: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Chibisafe",
		desc: "A fast, comfy file hosting service. Email me at dax at omg dot lol to request an account :)",
		href: "https://safe.x0ba.lol",
	},
	{
		title: "The Lounge",
		desc: "A nice IRC client. Email me at dax at omg dot lol to request an account :)",
		href: "https://lg.x0ba.lol",
	},
	{
		title: "SearxNG",
		desc: "A privacy-respecting metasearch engine.",
		href: "https://se.x0ba.lol",
	},
];

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Nix Dotfiles",
		desc: "My personal configurations for my machines, using Nix.",
		href: "https://github.com/x0ba/dotfiles",
	},
	{
		title: "NUR",
		desc: "My personal repository of Nix packages.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "This Website",
		desc: "My tiny space on the internet.",
		href: "https://github.com/x0ba/site",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi.</h1>
		<p class="mb-4">
      I'm Daniel, a high school student from San Jose, California. Welcome to my space.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Services</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				services.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
